/*

    Generic Styling

*/

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.body-scroll {
  overflow: hidden;
}

p {
  font-size: 15px;
}

/* Media queries for generic styling and navigation bar */
@media only screen and (min-width: 768px) {
  p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  p {
    font-size: 18px;
  }
}

/*

    Navigation Bar

*/

#nav {
  transition: 0.5s;
  line-height: 30px;
  font-size: 18px;
  letter-spacing: 1px;
}

.nav-show {
  background-color: #fffafa;
}

.navbar-brand {
  padding-left: 10px;
}

#nav-logo {
  width: 150px;
  height: 70px;
}

.fa-bars {
  color: white;
}

.fa-times {
  color: black;
}

#nav-toggler-icon {
  font-size: 30px;
  transition: 0.5s;
}

.toggler-icon-change {
  color: black;
}

#nav-seperator {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}

.navbar-nav > li {
  padding: 7px;
}

.navbar-nav > li:first-child {
  padding-top: 20px;
}

.default,
.default:hover {
  color: white;
}

.nav-link-change,
.nav-link-change:hover {
  color: black;
}

.nav-link-title {
  padding-bottom: 5px;
}

.nav-link-title-white:hover {
  border-bottom: 2px solid white;
}

.nav-link-title-black:hover {
  border-bottom: 2px solid black;
}

#nav-dropdown {
  min-width: 250px;
  padding: 10px 14px;
  overflow: hidden;
  font-size: 13px;
}

.close {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.close :hover,
.close :focus {
  color: red;
}

@media only screen and (max-width: 768px) {
}

@media only screen and (min-width: 992px) {
  #nav {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }

  .navbar-brand {
    padding-left: 50px;
  }

  #nav-seperator {
    display: none;
  }

  .navbar-nav > li {
    padding: 0 15px;
  }

  .navbar-nav > li:first-child {
    padding-top: 0;
  }

  .navbar-nav > li:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
}

/*

    Index Page (Home)

*/

.jumbotron {
  height: 100vh;
  width: 100%;
  margin: 0 !important;
  color: white;
}

/* top, transparent black, faked with gradient on background image */
#indexJumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/Home-Image.jpg) no-repeat 50% 50%;
  background-size: cover;
}

#test {
  padding: 800px 0;
  background-color: grey;
}
