/* 
    ---------------

    Generic Styling

    ---------------
*/

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.body-scroll {
  overflow: hidden;
}

p {
  font-size: 15px;
}

/* Media queries for generic styling and navigation bar */
@media only screen and (min-width: 768px) {
  p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  p {
    font-size: 18px;
  }
}

/*
    -----------------------

    Navigation Bar (Common)

    -----------------------
*/

#nav {
  line-height: 30px;
  font-size: 18px;
  letter-spacing: 1px;
  opacity: 1;
  transition: top 1s, background-color 0.5s, color 0.5s;
}

.nav-hide {
  top: -100%;
}

.nav-show {
  background-color: #fffafa;
}

.navbar-brand {
  padding-left: 10px;
}

#nav-logo {
  width: 150px;
  height: 70px;
}

.fa-bars {
  color: white;
}

.fa-times {
  color: black;
}

#nav-toggler-icon {
  font-size: 30px;
  transition: 0.5s;
}

.toggler-icon-change {
  color: black;
}

#nav-seperator {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}

.navbar-nav > li {
  padding: 7px;
}

.navbar-nav > li:first-child {
  padding-top: 20px;
}

.default,
.default:hover {
  color: white;
}

.nav-link-change,
.nav-link-change:hover {
  color: black;
}

.nav-link-title {
  padding-bottom: 5px;
}

.nav-link-title-white:hover {
  border-bottom: 2px solid white;
}

.nav-link-title-black:hover {
  border-bottom: 2px solid black;
}

#nav-dropdown {
  min-width: 250px;
  padding: 10px 14px;
  overflow: hidden;
  font-size: 13px;
}

.close {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.close :hover,
.close :focus {
  color: red;
}

@media only screen and (min-width: 992px) {
  #nav {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }

  .navbar-brand {
    padding-left: 50px;
  }

  #nav-seperator {
    display: none;
  }

  .navbar-nav > li {
    padding: 0 15px;
  }

  .navbar-nav > li:first-child {
    padding-top: 0;
  }

  .navbar-nav > li:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
}

/*
    ---------------

    Footer (Common)

    ---------------
*/
#footer * {
  margin: 0;
  padding: 0;
}

#footer {
  background-color: #ECEFF1;
  color: black;
}

#footer-social-media {
  background-color: #21D192;
  color: white;
}

#social-links {
  box-sizing: border-box;
  display: flex;
}

#social-links ul {
  position: relative;
  display: flex;
}

#social-links ul li {
  position: relative;
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
}

#social-links ul li a {
  text-decoration: none;
}

#social-links ul li a .fab {
  font-size: 2em;
  color: white;
}

#social-links ul li::before {
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

/* Facebook */
#social-links ul li:nth-child(1)::before {
  content: '\f39e';
  color: #3b5998;
  border-bottom: 4px solid #3b5998;
}

/* Twitter */
#social-links ul li:nth-child(2)::before {
  content: '\f099';
  color: #00acee;
  border-bottom: 4px solid #00acee;
}

/* YouTube */
#social-links ul li:nth-child(3)::before {
  content: '\f167';
  color: #FF0000;
  border-bottom: 4px solid #FF0000;
}

/* Linkedin */
#social-links ul li:nth-child(4)::before {
  content: '\f08c';
  color: #0e76a8;
  border-bottom: 4px solid #0e76a8;
}
#social-links ul li:hover::before {
  height: 100%;
}

#footer-copyright {
  background-color: #BDBFC1;
}

#footer-copyright p {
  font-size: 12px;
}

/*
    -----------------

    Index Page (Home)

    -----------------
*/

.jumbotron {
  height: 100vh;
  width: 100%;
  margin: 0 !important;
  color: white;
}

/* top, transparent black, faked with gradient on background image */
#indexJumbotron {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/Home-Image.jpg) no-repeat 50% 50%;
  background-size: cover;
}

#indexJumbotron .clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

#indexJumbotron .clouds img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  height: 60%;
  animation: cloud-animation calc(10s * var(--i)) linear infinite;
}

@keyframes cloud-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(120%);
  }
}

#test {
  padding: 800px 0;
  background-color: grey;
}
