/* 

    ---------------

    Generic Styling

    ---------------

*/

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.body-scroll {
  overflow: hidden;
}

p {
  font-size: 15px;
}

.page-content {
  padding: 40px 15px;
}

.jumbotron {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  color: white;
}

.jumbotron h1 {
  font-size: 3em;
}

.jumbotron a,
.jumbotron a:hover {
  color: white;
}

/* Media queries for generic styling and navigation bar */
@media only screen and (min-width: 768px) {
  p {
    font-size: 16px;
  }

  .page-content {
    padding: 40px 30px;
  }

  .jumbotron h1 {
    font-size: 4em;
  }
}

@media only screen and (min-width: 992px) {
  p {
    font-size: 18px;
  }

  .page-content {
    padding: 50px 90px;
  }

  .jumbotron h1 {
    font-size: 5em;
  }
}

/*

    -----------------------

    Navigation Bar (Common)

    -----------------------

*/

#nav {
  line-height: 30px;
  font-size: 18px;
  letter-spacing: 1px;
  opacity: 1;
  transition: top 1s, background-color 0.5s, color 0.5s;
}

.nav-hide {
  top: -100%;
}

.nav-show {
  background-color: #fffafa;
}

.navbar-brand {
  padding-left: 10px;
}

#nav-logo {
  width: 150px;
  height: 70px;
}

.fa-bars {
  color: white;
}

.fa-times {
  color: black;
}

#nav-toggler-icon {
  font-size: 30px;
  transition: 0.5s;
}

.toggler-icon-change {
  color: black;
}

#nav-seperator {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}

.navbar-nav > li {
  padding: 7px;
}

.navbar-nav > li:first-child {
  padding-top: 20px;
}

.default,
.default:hover {
  color: white;
}

.nav-link-change,
.nav-link-change:hover {
  color: black;
}

.nav-link-title {
  padding-bottom: 5px;
}

.nav-link-title-white:hover {
  border-bottom: 2px solid white;
}

.nav-link-title-black:hover {
  border-bottom: 2px solid black;
}

#nav-dropdown {
  min-width: 250px;
  padding: 10px 14px;
  overflow: hidden;
  font-size: 13px;
}

#dropdown-username {
  font-size: 13px;
}

.close {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.close :hover,
.close :focus {
  color: red;
}

#nav-dropdown a,
#nav-dropdown a:hover {
  color: black;
}

@media only screen and (min-width: 992px) {
  #nav {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }

  .navbar-brand {
    padding-left: 50px;
  }

  #nav-seperator {
    display: none;
  }

  .navbar-nav > li {
    padding: 0 15px;
  }

  .navbar-nav > li:first-child {
    padding-top: 0;
  }

  .navbar-nav > li:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
}

/*

    ---------------

    Footer (Common)

    ---------------

*/
#footer * {
  margin: 0;
  padding: 0;
}

#footer {
  background-color: #eceff1;
  color: black;
}

#footer-social-media {
  background-color: #21d192;
  color: white;
}

#social-links {
  box-sizing: border-box;
  display: flex;
}

#social-links ul {
  position: relative;
  display: flex;
}

#social-links ul li {
  position: relative;
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
}

#social-links ul li a {
  text-decoration: none;
}

#social-links ul li a .fab {
  font-size: 2em;
  color: white;
}

#social-links ul li::before {
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

/* Facebook */
#social-links ul li:nth-child(1)::before {
  content: "\f39e";
  color: #3b5998;
  border-bottom: 4px solid #3b5998;
}

/* Twitter */
#social-links ul li:nth-child(2)::before {
  content: "\f099";
  color: #00acee;
  border-bottom: 4px solid #00acee;
}

/* YouTube */
#social-links ul li:nth-child(3)::before {
  content: "\f167";
  color: #ff0000;
  border-bottom: 4px solid #ff0000;
}

/* Linkedin */
#social-links ul li:nth-child(4)::before {
  content: "\f08c";
  color: #0e76a8;
  border-bottom: 4px solid #0e76a8;
}
#social-links ul li:hover::before {
  height: 100%;
}

#footer-main span {
  padding-bottom: 10px;
}

#footer-main li {
  list-style: none;
}

#footer-main li:not(:last-child) {
  margin-bottom: 20px;
}

#footer-main a {
  color: black;
}

#footer-main .fas {
  font-size: 20px;
}

.footer-heading-underline {
  border-bottom: solid 2px #21d192;
}

#footer-copyright {
  background-color: #bdbfc1;
}

#footer-copyright p {
  font-size: 12px;
}

/*

    -----------------

    Index Page (Home)

    -----------------
    
*/

/* top, transparent black, faked with gradient on background image */
#index-jumbotron {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3)),
    url(../images/Home-Image.jpg) no-repeat 50% 50%;
  background-size: cover;
}

#index-jumbotron .clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

#index-jumbotron .clouds img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: cloud-animation calc(10s * var(--i)) linear infinite;
}

@keyframes cloud-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(120%);
  }
}

.parallax {
  min-height: 250px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#explore {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/Explore-Parallax.jpg);
}

.line-divider {
  border-top: 1px solid #bbb;
}

.info-btn {
  border: 1px solid #21d192;
  background-color: white;
  color: #21d192;
  border-radius: 40px;
}

.info-btn:hover {
  background-color: #21d192;
  color: white;
}

#technologies {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/Technologies-Parallax.jpeg);
}

#author {
  background-color: #1e1e2d;
  color: white;
}

#author img {
  height: 200px;
  width: 150px;
}

/*

    ---------------------

    Login Page (Identity)

    ---------------------

*/

#login-panel-left {
  background-color: #21d192;
  border-bottom-left-radius: 80% 100px;
  border-bottom-right-radius: 80% 100px;
  color: white;
}

.identity-btn {
  border: 1px solid white;
  color: white;
  background-color: #21d192;
  border-radius: 40px;
}

.identity-btn:hover {
  border-color: #21d192;
  color: #21d192;
  background-color: white;
}

#login-panel-right {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#login-panel-right img {
  width: 120px;
  height: 120px;
}

.form {
  padding: 0 30px;
}

.form .form-control {
  border: none;
  box-shadow: none;
  padding: 8px 35px;
  border-bottom: 2px solid #d9d9d9;
  transition: ease-in 0.5s;
}

.form .form-control:focus,
.form .form-control:valid {
  border-color: #21d192;
}

.form-ph {
  position: absolute;
  padding: 7px 0 0 35px;
  transition: all 200ms;
  opacity: 0.5;
  cursor: text;
}

.form-control:focus + .form-ph,
.form-control:valid + .form-ph {
  font-size: 90%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}

.form .fas {
  color: #d9d9d9;
  margin-top: -28px;
  margin-left: 6px;
  transition: ease-in 0.5s;
}

.form .form-control:focus ~ .fas,
.form .form-control:valid ~ .fas {
  color: #21d192;
}

.form a {
  color: #999;
}

.form a:hover {
  color: #21d192;
}

.form-button {
  background-color: #21d192;
  color: white;
  border-radius: 40px;
  width: 100%;
}

.form-button:hover {
  color: white;
}

@media only screen and (min-width: 768px) {
  #login-panel-left {
    border-bottom-left-radius: 80% 100px;
    border-bottom-right-radius: 3000%;
    border-bottom-width: thick;
  }

  .form {
    padding: 0 150px;
  }
}

@media only screen and (min-width: 992px) {
  #login-panel-left {
    min-height: 100vh;
  }

  .form {
    padding: 0 60px;
  }
}

@media only screen and (min-width: 1200px) {
  .form {
    padding: 0 120px;
  }
}

/*

    ------------------------------

    Reset Password Page (Identity)

    ------------------------------

*/

/*
#reset-button {
  background-color: #21d192;
  color: white;
  border-radius: 40px;
  width: 100%;
}
*/

/*

    -----------------------------------

    Create new password page (Identity)

    -----------------------------------

*/

/*

    ----------------------------

    Registration Page (Identity)

    ----------------------------

*/

#register-panel-left {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#register-form {
  padding: 0 30px;
}

#register-form .form-control {
  border: none;
  box-shadow: none;
  padding: 8px 35px;
  border-bottom: 2px solid #d9d9d9;
  transition: 0.5s;
}

#register-form .form-control:focus,
#register-form .form-control:valid {
  border-color: #21d192;
}

#register-form .fas {
  color: #d9d9d9;
  margin-top: -28px;
  margin-left: 6px;
  transition: 0.5s;
}

#register-form .form-control:focus ~ .fas,
#register-form .form-control:valid ~ .fas {
  color: #21d192;
}

#register-form a {
  color: #999;
}

#register-form a:hover {
  color: #21d192;
}

/*
#register-button {
  background-color: #21d192;
  color: white;
  border-radius: 40px;
  width: 100%;
}
*/

#register-panel-right {
  background-color: #21d192;
  border-bottom-left-radius: 80% 100px;
  border-bottom-right-radius: 80% 100px;
  color: white;
}

.form-submit {
  position: fixed;
  z-index: 1030; /* 1030 to override bootstrap fixed-top utility class */
  top: 0;
  left: 0;
  color: white;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.response {
  width: 100%;
}

.success {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: auto;
  box-shadow: inset 0px 0px 0px #21d192;
  animation: successFill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.success-circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #21d192;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.success-tick {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.error {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: auto;
  box-shadow: inset 0px 0px 0px #ff4136;
  animation: errorFill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.error-circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #ff4136;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.error-cross {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes successFill {
  100% {
    box-shadow: inset 0px 0px 0px 50px #21d192;
  }
}

@keyframes errorFill {
  100% {
    box-shadow: inset 0px 0px 0px 50px #ff4136;
  }
}

@media only screen and (min-width: 768px) {
  #register-panel-right {
    border-bottom-left-radius: 3000%;
    border-bottom-right-radius: 80% 100px;
    border-bottom-width: thick;
  }

  #register-form {
    padding: 0 150px;
  }

  .response {
    width: 75%;
  }
}

@media only screen and (min-width: 992px) {
  #register-panel-right {
    min-height: 100vh;
  }

  #register-form {
    padding: 0 60px;
  }
}

@media only screen and (min-width: 1200px) {
  #register-form {
    padding: 0 120px;
  }
}

/*

    -------------

    Exercise Page

    -------------

*/

#exercise-jumbotron {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(33, 209, 146, 0.8)),
    url(../images/Exercise-Image.jpg) no-repeat 50% 50%;
  background-size: cover;
  overflow: hidden;
}

/*

    ---------------

    Motivation Page

    ---------------

*/

#motivation-jumbotron {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(33, 209, 146, 0.8)),
    url(../images/Motivation-Image.jpg) no-repeat 50% 50%;
  background-size: cover;
  overflow: hidden;
}

/*

    --------------

    Nutrition Page

    --------------

*/

/* top, transparent black, faked with gradient on background image */
#nutrition-jumbotron {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(33, 209, 146, 0.8)),
    url(../images/Nutrition-Image.jpg) no-repeat 50% 50%;
  background-size: cover;
  overflow: hidden;
}

.line-divider {
  border: 1px solid black;
}

#meal-letters a {
  cursor: pointer;
}

#meal-letters a:hover {
  text-decoration: underline;
}

#search-meal-submit {
  background-color: #21d192;
  color: white;
}

#meal-results a {
  color: black;
  cursor: pointer;
}

#meal-results a:hover {
  text-decoration: underline;
}

/*

    ----------------------

    About Us Page (footer)

    ----------------------

*/

#about-us-jumbotron {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(33, 209, 146, 0.8)),
    url(../images/About-Us-Image.jpg) no-repeat 50% 50%;
  background-size: cover;
  overflow: hidden;
}

#about-us-join {
  background-color: #21d192;
  color: white;
}

#about-us-contact {
  background-color: #007e8e;
  color: white;
}

#about-us-btn {
  border: 1px solid white;
  color: white;
  background-color: #007e8e;
  border-radius: 40px;
}

#about-us-btn:hover {
  border-color: #007e8e;
  color: #007e8e;
  background-color: white;
}

/*

    -------------------

    Legal Page (footer)

    -------------------

*/

#legal-jumbotron {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(33, 209, 146, 0.8)),
    url(../images/Legal-Image.PNG) no-repeat 50% 50%;
  background-size: cover;
  overflow: hidden;
}

/*

    ------------------------

    Contact Us Page (footer)

    ------------------------

*/

#contact-us-jumbotron {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(33, 209, 146, 0.8)),
    url(../images/Contact-Us-Image.jpg) no-repeat 50% 50%;
  background-size: cover;
  overflow: hidden;
}

#contact-form-col {
  border: 2px solid #21d192;
}

#contact-form .form-control {
  border: none;
  box-shadow: none;
  padding: 8px 35px 8px 10px;
  border-bottom: 2px solid #d9d9d9;
  transition: 0.5s;
}

#contact-form .form-control:focus,
#contact-form .form-control:valid {
  border-color: #21d192;
}

#contact-form .form-ph {
  position: absolute;
  padding: 7px 0 0 10px;
  transition: all 200ms;
  opacity: 0.5;
  cursor: text;
  color: black;
}

#contact-form .form-control:focus + .form-ph,
#contact-form .form-control:valid + .form-ph {
  font-size: 90%;
  transform: translate3d(0, -110%, 0);
  opacity: 1;
  color: #21d192;
}

textarea::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: #21d192;
}

.invalid {
  color: red;
}

.is-valid {
  background-position-y: center !important;
}

.is-invalid {
  background-position-y: center !important;
}

.form-response {
  padding: 175px 0;
}
